{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead>
        <th>Name
        <th>Description
        <th>Release date
        <th>Ages
        <th>Price
    </thead>
    <tbody>
{% for p in products %}
    <tr>
        <td><a href="{% url 'show' p.id %}">{{ p.name }}</a>
        <td>{{ p.description|truncatewords:5 }}
        <td class="right">{{ p.release_date }}
        <td class="right">{{ p.age_range }}
        <td class="right">{{ p.price|floatformat:2 }}
{% endfor %}
    </tbody>
</table>
{% endblock %}

